.clients-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /*
    margin: -15px;
    flex-basis: calc(100% / 2 - 15px);*/
  }
}

.clients-list__item {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  border-radius: $primary-border-radius;
}

.clients-list__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link {
  @include flex(flex, center, center);
  @include bordered(1px, $icon-color);
  width: 170px;
  height: 92px;
  color: $icon-color;
  cursor: pointer;
  border-radius: $primary-border-radius;
  @include transition(
    color,
    border-color,
    null,
    250ms,
    $transition-cubic-bezier
  );
  &:hover,
  &:focus {
    color: $selection-color;
    border-color: $selection-color;
  }
}
