.footer {
  background-color: $footer-background;
  @include sectionPadding(60px, 60px);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.container--baseline {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-address {
  width: 231px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

.footer-link {
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &__logo--accent {
    color: $selection-color;
  }
  &__logo--color {
    color: $primary-color;
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: $primary-color;
}

.address__list {
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__contact {
  color: $address-text-color;
  text-decoration: none;
  @include transition(color, null, null, 250ms, $transition-cubic-bezier);

  &:hover,
  &:focus {
    color: $selection-color;
  }
}

.join {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 102px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.join {
  width: 206px;
}

.join__subtitle {
  @include font($primary-font-family, 14px, 700, 1.14, 0.03em, $primary-color);
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-socials__item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.footer-socials__link {
  @include flex(inline-flex, center, center);
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $primary-color;
  background: $icon-background-highlighted;
  @include transition(
    color,
    background-color,
    null,
    250ms,
    $transition-cubic-bezier
  );

  &:hover,
  &:focus {
    background-color: $selection-color;
  }

  &:hover svg,
  &:focus svg {
    color: $primary-color;
  }
}

.footer-socials__icon {
  fill: currentColor;
}

/* Форма футера */

.subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  @media screen and (min-width: 768px) and (min-width: 1199px) {
    display: flex;
  }
}

.form-subscribe {
  @media screen and (min-width: 768px) and (min-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.subscribe__subtitle {
  margin-bottom: 20px;
}

.subscribe__subtitle {
  @include font($primary-font-family, 14px, 700, 1.14, 0.03em, $primary-color);
  margin: 0;
  font-style: normal;
  text-transform: uppercase;
}

.form-subscribe__label {
  display: flex;
}

.form-subscribe__label {
  visibility: hidden;
}

.form-subscribe__input {
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (max-width: 767px) {
    width: 90vw;
    margin-bottom: 20px;
  }
  @include bordered(1px, $footer-input-color);
  @include font(inherit, 16px, 400, 1.25, 0.03em, $footer-placeholder-color);
  margin: 0;
  padding: 15px 16px;
  border-radius: $primary-border-radius;

  margin-right: 8px;
  background-color: $footer-background;
  outline: none;
  @include transition(border, null, null, 250ms, $transition-cubic-bezier);

  &:hover,
  &:focus {
    border-color: $selection-color;
  }
}

.form-subscribe__button {
  display: inline-flex;
}

.form-subscribe__button {
  padding: 10px 28px 10px 29px;
  width: 200px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus {
    color: $button-hover-color;
    background-color: $button-hover-background;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
  }

  &:hover .form-subscribe__icon,
  &:focus .form-subscribe__icon {
    @include transition(color, null, null, 250ms, $transition-cubic-bezier);
    color: $button-hover-color;
  }
}

.form-subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
