.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  padding: 32px;
  z-index: 999;
  transform: translateX(100%);
  @include transition(transform, null, null, 250ms, $transition-cubic-bezier);
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.header {
  border-bottom: 1px solid $color-border-header;
}

.container--centered {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header-nav__navbar {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}

.header-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  &--color {
    color: $selection-color;
  }
}

.logo {
  @include font($logo-font-family, 26px, bold, 1.19, 0.03em, $logo-color);
  text-decoration: none;
  font-style: normal;
}

.header-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__link {
  @include font(
    $primary-font-family,
    14px,
    500,
    1.14,
    0.02em,
    $primary-text-color
  );
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  text-decoration: none;
  @include transition(color, null, null, 250ms, $transition-cubic-bezier);

  &--current,
  &:hover,
  &:focus {
    color: $selection-color;
  }

  &--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: $selection-color;
    border-radius: 2px;
    transform: scaleX(1);
    opacity: 1;
    @include transition(
      transform,
      opacity,
      null,
      250ms,
      $transition-cubic-bezier
    );
  }

  &--current:hover::after {
    transform: scaleX(0);
    opacity: 0;
  }
}

.header-nav__navbar .header-nav__list + .header-nav__list {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

/* Контакты хедера */

.header-contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.header-contacts .header-contacts__list + .header-contacts__list {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header-contacts__list .header-contacts__link {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-decoration: none;
  @include transition(color, null, null, 250ms, $transition-cubic-bezier);

  &:hover,
  &:focus {
    color: $selection-color;
  }

  &:hover .header-contacts__icon,
  &:focus .header-contacts__icon {
    color: $selection-color;
  }
}

.header-contacts__link .header-contacts__icon {
  fill: currentColor;
}

.header-contacts__list {
  @media screen and (min-width: 1200px) {
    @include flex(flex, center, center);
  }
}

.header-contacts__icon {
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

  &--color {
    fill: $secondary-text-color;
    @include transition(fill, null, null, 250ms, $transition-cubic-bezier);
  }
}
