.hero {
  @media screen and (min-width: 480px) {
    height: 400px;
    width: 480px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    @include sectionPadding(200px, 200px);
    @include flex(flex, center, center);
    flex-direction: column;
    height: 600px;
  }
  width: 100%;
  max-width: 1600px;

  text-align: center;
}

.hero__title {
  @media screen and (min-width: 1200px) {
    @include font(
      $primary-font-family,
      44px,
      900,
      1.36,
      0.06em,
      $primary-color
    );
    width: 696px;
  }
  @media screen and (max-width: 1199px) {
    @include font(
      $primary-font-family,
      26px,
      900,
      1.62,
      0.06em,
      $primary-color
    );
    width: 360px;
    padding: 118px 60px;
  }
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    color: $button-hover-color;
    background-color: $button-hover-background;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
  }
}
