.strategy {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.strategy .strategy__list + .strategy__list {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.strategy__list {
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.strategy__icon {
  @media screen and (min-width: 1200px) {
    @include flex(inline-flex, center, center);
    width: 270px;
  }
  @media screen and (max-width: 767px) {
    @include flex(flex, center, center);
  }
  height: 120px;
  margin-bottom: 30px;
  border-radius: $primary-border-radius;

  &--background {
    background: $section-background;
  }
}

.strategy__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.strategy__text {
  margin: 0;
  font-weight: normal;
  line-height: 1.71;

  &--color {
    color: $secondary-text-color;
  }
}
