.section--offset {
  padding-top: 0;
}

.work-img {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
}

.work-img .work-img__list + .work-img__list {
  margin-left: 30px;
}

.work-img__list {
  position: relative;
}

.work-img__item {
  @include flex(flex, center, center);
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work-img__subtitle {
  @include font($primary-font-family, 14px, 700, 1.14, 0.03em, $primary-color);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}
