$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-color: #ffffff;
$selection-color: #2196f3;
$button-color: #ffffff;
$button-hover-color: #000000;
$button-hover-background: #c4c4c4;
$color-border-header: #ececec;
$primary-color-border: #eeeeee;
$logo-color: #000000;
$hero-background: #2f303a;
$footer-background: #2f303a;
$section-background: #f5f4fa;
$icon-color: #afb1b8;
$icon-background-highlighted: rgba(255, 255, 255, 0.1);
$overlay-background: rgba(33, 150, 243, 0.9);
$address-text-color: rgba(255, 255, 255, 0.6);
$footer-input-color: rgba(255, 255, 255, 0.3);
$footer-placeholder-color: rgba(255, 255, 255, 0.6);
$backdrop-background: rgba(0, 0, 0, 0.2);
$modal-input-color: rgba(33, 33, 33, 0.2);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$modal-close-color: #000000;
$modal-close-border: rgba(0, 0, 0, 0.1);
$primary-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
$primary-border-radius: 4px;
$transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
